<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @team.leader.name %>
</p>

<p>
  <strong>Repos:</strong>
  <ul>
    <% @team.repos.each do |repo| %>
      <li><%= repo.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Members:</strong>
  <ul>
    <% @team.team_memberships.each do |team_membership| %>
      <li><%= member_name(team_membership) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Manage Memberships', team_team_memberships_path(@team) %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
