<% content_for(:title) do %>
  <%= @repo.name %> Repo
<% end %>

<p>
  <strong>Organization:</strong>
  <%= @repo.organization %>
</p>

<p>
  <strong>Name:</strong>
  <%= @repo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repo.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @repo.url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @repo.owner.name %>
</p>

<p>
  <strong>Pull Requests:</strong>
  <ul>
    <% @repo.pull_requests.each do |pull_request| %>
      <li><%= pull_request.title %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Manage Pull Requests', repo_pull_requests_path(@repo) %> |
<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
