<% content_for(:title) do %>
  Edit <%= resource_name.to_s.humanize %>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :email, as: :email %>
    <%= f.input :handle %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.input :password, autocomplete: "off", as: :password, hint: '(leave blank if you don\'t want to change it)' %>
    <%= f.input :password_confirmation, autocomplete: "off", as: :password %>
    <%= f.input :current_password, autocomplete: "off", as: :password, hint: '(we need your current password to confirm your changes)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button alert' %></p>

<%= link_to "Back", :back %>
