<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %> - ReviewRandomizer</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="row">
      <div class="large-7 columns">
        <div class="panel">
          <h1><%= link_to 'Review Randomizer', root_path %></h1>
        </div>
      </div>
      <div class="large-5 columns">
        <% if user_signed_in? %>
          Hey! <%= current_user.name %> |
          <%= current_company.try(:name) || 'Admin' %> |
          <%= link_to 'Profile', edit_user_registration_path %> |
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Log in', user_session_path %>
        <% end %>
      </div>
    </header>

    <div class="row">
      <div class="large-12 columns">
        <h2>
          <%= content_for?(:title) ? yield(:title) : "Untitled" %>
        </h2>
      </div>
    </div>

    <% if notice %>
      <div class="row">
        <div class="large-12 columns">
          <p class="callout success"><%= notice %></p>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="row">
        <div class="large-12 columns">
          <p class="callout alert"><%= alert %></p>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
